<launch>
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim"
    required="true"
  />
  <node
    pkg="turtlesim"
    type="turtle_teleop_key"
    name="teleop_key"
    launch-prefix="xterm -e"
  />
  <node
    pkg="hw2"
    type="turtlemeet"
    name="turtlemeet"
    launch-prefix="xterm -e"
  />
</launch>
